.hotDirections-conteiner{
    min-height: 560px;
    text-align: center;
    line-height: 1.2;
}

.hotDirections-titel{
    font-size: 70px;
    font-family: Roboto,sans-serif;
    color: #ff5126;
    text-transform: capitalize;
    @media (max-width:360px){
        font-size: 46px;
    }
}

.hotDirections-text{
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.0;
}
