.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid white;
    background: none;
     color: white;
     bottom: 110px;
}


.btn:hover {
    color: rgb(216, 215, 215);
}