.svg-conteiner{
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 50px;
    @media (max-width: 989px) {
        width: 44%;
    }
}

.svg_title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #454545
}

.svg_text{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
    color: #454545
}
