.sectione-adventure{
    min-height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 70px;
    p {
        position: absolute;
        z-index: 4;
    }
    .btn {
        position: absolute;
        z-index: 4;
        @media (max-width:360px){
            bottom: 142px;
            left: 103px;
        }
    }
}

.img-balloons{
    width: 100%;
    height: 517px;
    z-index: 1;
    @media (max-width:360px){
        width: 360px;
    }
}

.img-klyaksa{
    position: absolute;
    width: 100%;
    height: 667px;
    z-index: 2;
    @media (max-width:360px){
        width: 485px;
    }
}

.img-oneBallon{
    position: absolute;
    width: 153px;
    height: 224px;
    z-index: 3;
    top: 0px;
    left: 256px;
    @media (max-width:360px){
        top: 30px;
        left: 0;
        right: 188px;
    }
}

.adventure-title{
    font-family:roboto sans-serif;
    font-size: 20px;
    top: 29%;
    @media (max-width:360px){
        top: 41%;
    }
}

.adventure-text{
    font-weight: 200;
    font-size: 48px;
    top: 33%;
    @media (max-width:360px){
        top: 48%;
        font-size: 32px;
    }
}
