header {
  min-height: 96px;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  padding: 20px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}


.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
  @media (max-width:989px){
    max-width: 740px;
  }
}

p{
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
}

main{
  .amazingPlaces-conteiner{
    padding-top: 100px;
  }
  .emailSection-conteiner{
    margin-bottom: 100px;
  }

}

