.dreamsSection-conteiner{
    min-height: 775px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        background-color: #ff5126;
        font-family: 'Open Sans',sans-serif;
        letter-spacing: 1px;
        line-height: 1.4;
        font-weight: 400;
        width: 130px;
        height: 50px;
        border: none;
    }
}

.dreamsSection-conteiner-block{
    width: 880px;
    height: 610px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dreamsSection-title{
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
    color: #ff5126;
    font-family: Roboto,sans-serif;
    text-transform: capitalize;
    @media (max-width:360px){
        font-size: 47px;
    }
}

.dreamsSection-text{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
    font-size: 16px;
    @media (max-width:360px){
        line-height: 1.3;
    }
}

