.footer-conteiner{
    background-color: #1a1a1a;
    width: 100%;
    min-height: 300px;
    color: #ffffff;
    padding: 20px;
    .footer-firstBlock{
        padding-top: 75px;
        margin-bottom: 50px;
        padding-left: 164px;
        padding-right: 164px;
        width: 1400px;
    }
}

.footer-firstBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    @media (max-width: 765px) {
        flex-direction: column;
    }
}

.footer-secondBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    font-family: Roboto,sans-serif;
}