.emailSection-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 540px;
    .btn{
        background-color: #ff5126;
        font-family: 'Open Sans',sans-serif;
        letter-spacing: 1px;
        line-height: 1.4;
        font-weight: 400;
        width: 140px;
        height: 41px;
        border: none;
    }
    @media (max-width: 765px) {
        flex-direction: column;
    }
    .email{
        @media (max-width: 765px) {
            margin-bottom: 10px;
        }
    }
}



.email{
    height: 35px;
    width: 185px;
}