.amazingPlaces-conteiner{
    text-align: center;
    justify-content: center; 
    align-items: center;
    margin-bottom: 150px;
    .amazingPlaces-blockWithText{
        height: 180px;
        margin: auto;
    }
}

.amazingPlaces-title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
    font-size: 24px;
}


.amazingPlaces-text{
    font-weight: 400;
    line-height: 2.0;
}

.amazingPlaces-conteinerWithImg{
    display: flex;
    justify-content: space-between;
    @media (max-width:989px){
        flex-wrap: wrap;
    }
    @media (max-width:765px){
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.first-blockWhitImg {
    width: 33%;
    @media (max-width:989px){
        width: 49%;
    }
}

.second-blockWhitImg {
    width: 33%;
    @media (max-width:989px){
        width: 49%;
    }
}

.third-blockWhitImg {
    width: 33%;
    @media (max-width:989px){
        width: 100%;
    }
    @media (max-width:767px){
        width: 50.5%;    //// not normal buuut ))))
    }
}

.img-firstBlock{ 
    width: 100%;
    height: 540px;
    @media (max-width:360px){
        height: 350px;
    }
}

.img-seconBlock{
    width: 100%;
    height: 359px;
    @media (max-width:765px){
       height: 540px;
    }
    @media (max-width:360px){
        height: 350px;
    }
}

.img-thirdBlock{
    width: 100%;
    height: 540px;
    @media (max-width:360px){
        height: 350px;
    }
}

