.country-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    min-height: 1000px;
    border-bottom: 1px solid gray
}

.country-block{
    width: 45%;
    height: 480px;
    border: 1px solid #d9d9d9;;
    text-align: left;
    color: #454545;
    font-weight: 400;
    line-height: 2.0;
    @media (max-width:360px){
        line-height: 1;
    }
}

.country-img{
    width: 100%;
    height: 260px;
}

.country-block_title{
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
}

.main-conteiner-country {
    display: flex;
    justify-content: center;
    align-items: center;
    .country-block{
        margin: 15px;
    }
    p{
        padding: 13px;
        @media (max-width:360px){
            padding: 9px;
        }
    }
    .btn{
        background-color:#ff5126;
        width: 200px;
        line-height: 1.4;
        font-weight: 400;
        font-family: 'Open Sans',sans-serif;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 50px
    }
}

/// button ?? from block to button margin ??