.statisticsSection-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statisticsSection-section{
    width: 873px;
    min-height: 642px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .statisticsSection-block{
        margin: 20px;
    }
    @media (max-width:765px){
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.statisticsSection-block{
    border: #d9d9d9 solid 1px;
    text-align: center;
    width: 44%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width:360px){
        height: 246px;
    }
}


.statisticsSection-title{
    font-family: Roboto,sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
}

.statisticsSection-numbers{
    color: #ff5126 ;
    font-size: 100px;
    @media (max-width:360px){
        font-size: 70px;
    }
}
