.svg-block{
    display: flex;
    justify-content: space-between;
    @media (max-width: 989px) {
        flex-wrap: wrap;
    }
    @media (max-width:765px){
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}